@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";

* {
    font-family: "Roboto" !important;
    box-sizing: border-box;
}

header {
    z-index: 10000000;
}

.glass {
    background: rgba(255, 255, 255, 0.1) !important;
    /* border-radius: 16px !important; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(20px) !important;
    -webkit-backdrop-filter: blur(20px) !important;
    /* border: 1px solid #56617f !important; */
}

.pac-container.pac-logo.hdpi {
    z-index: 1300;
}

.gmnoprint.gm-style-mtc-bbw {
    display: none;
}
.gm-fullscreen-control {
    display: none;
}

@keyframes appear {
    from {
        transform: translateX(100%);
    }
}

.menu-items {
    animation: appear ease-in-out 0.5s;
}
.backdrop-minus {
    backdrop-filter: none;
}

@media screen and (min-width: 768px) {
    .pinIcon {
        height: 24px;
        width: 24px;
    }
    .menu-items {
        animation: none;
    }
}

main {
    /* background: #293939; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
body {
    background-color: #101012;
}
.background {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10000000; 
}
